[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/berkeleydb"]
	path = third-party/berkeleydb
	url = https://github.com/CREDITSCOM/berkeleydb.git
[submodule "third-party/thrift-interface-definitions"]
	path = third-party/thrift-interface-definitions
	url = https://github.com/CREDITSCOM/thrift-interface-definitions.git
[submodule "third-party/thrift"]
	path = third-party/thrift
	url = https://github.com/CREDITSCOM/thrift.git
[submodule "cscrypto"]
	path = cscrypto
	url = https://github.com/CREDITSCOM/cscrypto.git
[submodule "third-party/lmdb"]
	path = third-party/lmdb
	url = https://github.com/LMDB/lmdb
[submodule "third-party/lmdbxx"]
	path = third-party/lmdbxx
	url = https://github.com/drycpp/lmdbxx.git
[submodule "third-party/nameof"]
	path = third-party/nameof
	url = https://github.com/Neargye/nameof.git
