[submodule "third-party/blake2"]
	path = third-party/blake2
	url = https://gitlab.com/credits_bc/third_party/blake2.git
[submodule "csdb"]
	path = csdb
	url = https://gitlab.com/credits_bc/temp/csdb_v2.git
	branch = dev
